@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fefefe;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif; 
}


.tag-list span {
  background: #c0c0c0;
  border-radius: 10px;
  float: left;
  padding: 10px;
  text-align: center;
  width: auto;
}

.tag-list span:not(:last-child) {
  margin-right: 5px;
}